.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

}
.navItems {
  display: flex;
  gap: 1rem;
  list-style-type: none;
 
  


}
.navItems li{
     border: 1px solid #fff;
       padding: 0.5rem 1.8rem;
  border-radius: 1px;
}
.nav a {
  text-decoration: none;
  font-size: 1.1rem;



}
.navItems li:hover {
background-color: rgba(256, 256, 256, 0.2);


}
.cod {
  color: #c190ff;
  font-size: 2.2rem;
}
.prog {
  color: #ceff90;
  font-size: 2rem;
}
.logo {
  font-size: 2rem;
 

}

.logoutButton {
  padding: 0.7rem 1.6rem;
  font-size: 1.01rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 1px;
  background-color:  #292431;
}

.logoutButton:hover {
background-color: rgba(256, 256, 256, 0.2);

}

.logoutSvg {
  width: 1em;
  filter: invert(100%);
   
}




@media (max-width: 720px) {

  .logoutButton{
    padding: 0.7rem 1rem;
    font-size: 1rem;
    
}

  .myCourseBtn{
      padding: 0.8rem 0.8rem;
    font-size: 0.9rem;

    
  }

    .cod{
font-size: 2rem;
  }

  .prog{
font-size: 2rem;
  }
}





@media (max-width: 500px) {

  .navItems li{
     border: 1px solid #fff;
       padding: 0.25rem 0.9rem;
  border-radius: 1px;
}

.nav a {
  text-decoration: none;
  font-size: 0.9rem;



}

  .logoutButton{
    padding: 0.5rem 0.6rem;
    font-size: 0.8rem;
    
}

  .myCourseBtn{
      padding: 0.6rem 0.7rem;
    font-size: 0.7rem;

    
  }

    .cod{
font-size: 1.6rem;
  }

  .prog{
font-size: 1.6rem;
  }
  

}

